@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --bg-color: #c2e9f244;
  --text-color: #108cb5;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
  margin: 0;
  background-color: var(--bg-color);
  padding: 20px;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
}

h1:hover {
  transition: all 0.5s ease;
  color: #ccc;
}
