@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --bg-color: #c2e9f244;
  --text-color: #108cb5;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
  margin: 0;
  background-color: var(--bg-color);
  padding: 20px;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
}

h1:hover {
  transition: all 0.5s ease;
  color: #ccc;
}

/*Form Section*/

.form {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  container-name: form;
  container-type: inline-size;
  animation: aparecer both;
  animation-timeline: view();
  animation-range: cover 20% contain 40%;
}

.form__form {
  padding: 12px;
  max-width: 600px;
  width: 100%;
  display: grid;
  margin-bottom: 30px;
}

.form__input-container :is(input, textarea) {
  width: 100%;
  padding: 9px;
  font-size: 16px;
  margin: 4px;
  border: none;
  box-shadow: 2px 2px 4px #0003;
  background-color: #fffd;
  font-family: inherit;
  outline: none;
}

.form__input-container textarea {
  resize: none;
  min-height: 120px;
}

.form__input-container input[type='submit'] {
  padding: 12px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.form__title {
  font-size: 2.4rem;
}

input[type='submit']:hover {
  background-color: var(--text-color);
  color: #fff;
  cursor: pointer;
}
